:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-color);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.work-list,
.advantages-list,
.team-list,
.example,
.navigation,
.contact-footer,
.filter {
  list-style: none;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
}
.logo-style {
  color: #2196f3;
}

/* Site nav */
.navigation {
  color: var(--main-text-color);
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation > a:visited {
  color: var(--main-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation .navigation-link.current {
  color: var(--accent-color);
}

/* Contacts */
.contact-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact {
  list-style: none;
}

/* index.htm main */
/* Герой */
.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: #ffffff;
  background-color: var(--accent-color);
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Наши преимущества */
.advantages .description {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

.advantages .title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
}

/* Чем мы занимаемся */

.title-html {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Наша команда */
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team .description {
  color: var(--secondary-text-color);
  line-height: 1.18;
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
}

.footer > a {
  color: #ffffff;
}

.address {
  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

/* portfolio.htm main */
/* Фильтры */
.filter {
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
}

.filter-button {
  color: var(--main-text-color);
  background-color: #f5f4fa;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter .filter-button.current {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Карточки работ */
.example .title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
}

.example .description {
  color: var(--secondary-text-color);
  line-height: 1.87;
}
