:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-color);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

/* Common */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.work-list,
.advantages-list,
.team-list,
.example,
.navigation,
.contact-footer,
.filter {
  list-style: none;
}

/* Header */
.header .container {
  display: flex;
}

.header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
}

.site-nav .logo {
  margin-right: 93px;
}
.logo-style {
  color: #2196f3;
}

/* Site nav */
.navigation {
  display: flex;
  flex-direction: row;

  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation > .nav-link:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-link,
.navigation-link:visited {
  color: var(--main-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation .navigation-link.current {
  color: var(--accent-color);
}

/* Contacts */
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  flex-direction: row;
  margin-left: auto;

  list-style: none;
}

.contact > .nav-link:not(:last-child) {
  margin-right: 50px;
}

.icon-email {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.icon-phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
/* index.htm main */
/* Герой */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  height: 600px;
  padding-top: 200px;
}

.hero-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;

  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--accent-color);
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Наши преимущества */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages h2 {
  visibility: hidden;
}

.advantages-list {
  display: flex;
}

.advantages-icon:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list .advantages-box {
  width: 270px;
}

.advantages-list .advantages-box:not(:last-child) {
  margin-right: 30px;
}

.advantages-list .title {
  margin-bottom: 10px;
}

.advantages .description {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

.advantages .title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
}

/* Чем мы занимаемся */

.work {
  padding-bottom: 94px;
}

.title-html {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background-color: var(--additional-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title-html {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-card {
  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-image {
  margin-bottom: 30px;
}

.team .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team .description {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  line-height: 1.18;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 30px;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
}

.link > .link-adress {
  justify-content: center;
}

.social-links .link:not(:last-child) {
  margin-right: 10px;
}

.link-adress {
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer a {
  color: #ffffff;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  margin-bottom: 9px;

  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.tel-link {
  margin-bottom: 9px;
}

/* portfolio.htm main */
/* Фильтры */

.work-examples {
  padding-bottom: 94px;
  padding-top: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  font-weight: 500;
  line-height: 1.62;
  text-align: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border-radius: 4px;
  border: none;
  border-color: #f5f4fa;
  padding: 6px 22px;

  line-height: 1.62;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter .filter-button.current {
  background-color: var(--accent-color);
  color: #ffffff;
}

.example {
  display: flex;
  flex-wrap: wrap;
}

.example-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.example-item:nth-child(3n) {
  margin-right: 0;
}

.example-image {
  display: block;
}

.example-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* Карточки работ */
.example .title {
  margin-bottom: 4px;

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
}

.example .description {
  color: var(--secondary-text-color);
  line-height: 1.87;
}
