@import "utils/variables";
@import "base/defaults";
@import "base/fonts";

/* Common */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.work-list,
.advantages-list,
.team-list,
.example,
.navigation,
.contact-footer,
.filter {
  list-style: none;
}

/* Header */
.header .container {
  display: flex;
}

.header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Logo */
.logo {
  font-family: $sec-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $main-text-color;
}

.site-nav .logo {
  margin-right: 93px;
}
.logo-style {
  color: #2196f3;
}

/* Site nav */
.navigation {
  display: flex;
  flex-direction: row;

  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation > .navigation-container:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color $animation-duration $animation-type;
}

.navigation-link::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  opacity: 0;

  transition: opacity $animation-duration $animation-type;
}

.current-link.navigation-link::after,
.navigation-link:hover::after,
.navigation-link:focus::after {
  opacity: 1;
}

.navigation-link,
.navigation-link:visited {
  color: $main-text-color;
}

.navigation-link:hover,
.navigation-link:focus {
  color: $accent-color;
}

.navigation .navigation-link.current-link {
  color: $accent-color;
}

/* Contacts */
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: $accent-color;
  transition: color $animation-duration $animation-type;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.contact > .navigation-container:not(:last-child) {
  margin-right: 30px;
}

.icon-email {
  fill: currentColor;
  margin-right: 10px;
}

.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}
/* index.htm main */
/* Герой */
.hero {
  background-color: #c4c4c4;
  text-align: center;
  height: 600px;
  padding-top: 0;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-background-image.jpg);
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: $accent-color;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Наши преимущества */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages h2 {
  visibility: hidden;
}

.advantages-list {
  display: flex;
}

.advantages-icon:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list .advantages-box {
  width: 270px;
}

.advantages-list .advantages-box:not(:last-child) {
  margin-right: 30px;
}

.advantages-list .title {
  margin-bottom: 10px;
}

.advantages-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
}

.advantages-icon .icon {
  width: 70px;
}

.advantages .description {
  color: $secondary-text-color;
  line-height: 1.71;
}

.advantages .title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
}

/* Чем мы занимаемся */

.work {
  padding-bottom: 94px;
}

.title-html {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-container {
  position: relative;
}

.work-description {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-image {
  display: block;
}

.work-title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;

  padding: 27px 0;

  color: #ffffff;
}

/* Наша команда */
.team {
  background-color: $additional-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title-html {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-card {
  background-color: $main-background-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-image {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-description {
  margin-bottom: 16px;
  color: $secondary-text-color;
  line-height: 1.18;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 30px;
}

.social-links .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.link-adress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 0;
  color: #afb1b8;
}

.link-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links .link:not(:last-child) {
  margin-right: 10px;
}

.link-adress {
  cursor: pointer;
}

.link-adress:hover,
.link-adress:focus {
  color: $main-background-color;
  background-color: $accent-color;
  filter: drop-shadow(0px 4px 4px RGBA(0, 0, 0, 0.25));

  transition: background-color $animation-duration $animation-type,
    color $animation-duration $animation-type;
}

/* Наши клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.client:hover,
.client:focus {
  color: $accent-color;
  border-color: $accent-color;
  transition: color $animation-duration $animation-type,
    border-color $animation-duration $animation-type;
}

.client-logo {
  fill: currentColor;
}

.client-link:not(:last-child) {
  margin-right: 30px;
}

/* Footer */
.footer {
  background-color: $secondary-background-color;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer a {
  color: #ffffff;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  margin-bottom: 9px;

  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.tel-link {
  margin-bottom: 9px;
}

.container-foot {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.address-footer {
  margin-right: 70px;
}

.social-footer {
  margin-right: 93px;
}

.social-title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-list .social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  background-color: $accent-color;
  transition: background-color $animation-duration $animation-type;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list .item:not(:last-child) {
  margin-right: 10px;
}

/* Подпишись на рассылку */
.form-container {
  margin-left: auto;
}

.form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $secondary-background-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form input:focus {
  outline: none;
  color: #ffffff;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-elements {
  display: flex;
}

.submit-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  margin-left: 12px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-button:focus {
  outline: none;
}

.form-icon-footer {
  fill: #ffffff;
  margin-left: 10px;
}

/* portfolio.htm main */
/* Фильтры */

.work-examples {
  padding-bottom: 94px;
  padding-top: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  font-weight: 500;
  line-height: 1.62;
  text-align: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border-radius: 4px;
  border: none;
  border-color: #f5f4fa;
  padding: 6px 22px;

  line-height: 1.62;
  font-weight: 500;
  font-size: 16px;
  color: $main-text-color;
  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: $accent-color;
  color: #ffffff;
  transition: color $animation-duration $animation-type,
    background-color $animation-duration $animation-type;
}

.filter .filter-button.current {
  background-color: $accent-color;
  color: #ffffff;
}

.example {
  display: flex;
  flex-wrap: wrap;
}

.example-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.example-item:nth-child(3n) {
  margin-right: 0;
}

.example-image {
  display: block;
}

.example-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* Карточки работ */
.example-title {
  margin-bottom: 4px;

  color: $main-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
}

.example-description {
  color: $secondary-text-color;
  line-height: 1.87;
}

.example-link:hover,
.example-link:focus {
  display: block;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $animation-duration $animation-type;
}

.overlay-text p {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.example-link:hover .overlay-text,
.example-link:focus .overlay-text {
  transform: translateY(0);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $animation-duration $animation-type;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: #ffffff;
  transition: transform $animation-duration $animation-type;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $main-text-color;

  margin-bottom: 12px;
}

.modal-button {
  cursor: pointer;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.modal-icon {
  fill: currentColor;
  transition: color $animation-duration $animation-type;
}

.modal-icon:hover,
.modal-icon:focus {
  color: $accent-color;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field {
  position: relative;
}

.form-name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-text-color;

  margin-bottom: 4px;
}

.input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 11px 12px;
  padding-left: 42px;
  transition: border-color $animation-duration $animation-type;
}

.input:hover,
.input:focus {
  border-color: $accent-color;
  color: $accent-color;
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: color $animation-duration $animation-type;
}

.input:hover + .form-icon,
.input:focus + .form-icon {
  color: $accent-color;
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border-color $animation-duration $animation-type;
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.2);
}

.form-comment:hover,
.form-comment:focus {
  border-color: $accent-color;
}

.form-label.comment {
  margin-bottom: 20px;
}

.conditions {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.conditions-label {
  display: flex;
  align-items: center;
}

.old-checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.new-checkbox {
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $main-text-color;
  border-radius: 2px;
  margin-right: 10px;
  transition: background-image $animation-duration $animation-type,
    border-color $animation-duration $animation-type;
}

.old-checkbox:checked + .new-checkbox {
  border: none;
  background-image: url("../images/checkmark-icon.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.checkbox-text {
  line-height: 1.71;
  color: $secondary-text-color;
}

.checkbox-link {
  text-decoration: underline;
  color: $accent-color;
}

.form-button {
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  display: flex;
  align-items: center;
  text-align: center;

  background-color: $accent-color;
  margin: auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
