.address-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.address {
  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 8px;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.mail-link {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-footer {
    margin-right: 165px;
  }

  .address-socials {
    display: flex;
    align-items: baseline;
    margin: auto;
  }
}

@media screen and (min-width: $desktop-width) {
  .contact-footer {
    display: flex;
    flex-direction: column;
  }

  .address-footer {
    display: block;
    margin-right: 70px;
    padding: 0;
  }

  .address-socials {
    display: flex;
    align-items: baseline;
  }
}
