.address {
  margin-bottom: 9px;

  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  list-style: none;
}

.tel-link {
  margin-bottom: 9px;
}

.address-footer {
  margin-right: 70px;
}
