.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__link:not(:last-child) {
    margin-right: 30px;
  }
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
    @include transition;
    @include transition(border-color);
  }
}

.client-logo {
  fill: currentColor;
}
