@media screen and (max-width: 479px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__link:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 90px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
      @include transition;
      @include transition(border-color);
    }

    &-logo {
      fill: currentColor;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__link {
      width: 210px;
      height: 90px;

      &:nth-child(-n + 4) {
        margin-bottom: 30px;
      }

      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }

    & .title-html {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.14;
    }
  }

  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 90px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
      @include transition;
      @include transition(border-color);
    }

    &-logo {
      fill: currentColor;
    }
  }
}

@media screen and (min-width: $tablet-width) and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__link {
      width: 226px;
      height: 90px;

      &:nth-child(-n + 3) {
        margin-bottom: 30px;
      }

      &:not(:nth-child(3n + 3)) {
        margin-right: 30px;
      }
    }
  }
  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 90px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
      @include transition;
      @include transition(border-color);
    }

    &-logo {
      fill: currentColor;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__link {
      width: 170px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
      @include transition;
      @include transition(border-color);
    }

    &-logo {
      fill: currentColor;
    }
  }
}

// .clients {
//   padding-top: 94px;
//   padding-bottom: 94px;

//   &__list {
//     display: flex;
//     flex-direction: row;
//     list-style: none;
//   }

//   &__link:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .client {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 170px;
//   height: 90px;

//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   color: #afb1b8;

//   &:hover,
//   &:focus {
//     color: $accent-color;
//     border-color: $accent-color;
//     @include transition;
//     @include transition(border-color);
//   }
// }

// .client-logo {
//   fill: currentColor;
// }
