.contact {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0;
    list-style: none;

    &__link {
      display: flex;

      color: $secondary-text-color;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.02em;

      &:hover,
      &:focus {
        color: $accent-color;
        @include transition;
      }
    }

    &__container:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  .icon-email,
  .icon-phone {
    fill: currentColor;
    margin-right: 10px;
  }
}

@media screen and (min-width: $desktop-width) {
  .contact {
    flex-direction: row;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    &__container:not(:last-child) {
      margin-right: 30px;
      padding: 0;
    }
  }

  &__link {
    justify-items: center;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
