.filter-button {
  border-radius: 4px;
  border: none;
  border-color: #f5f4fa;
  padding: 6px 22px;

  line-height: 1.62;
  font-weight: 500;
  font-size: 16px;
  color: $main-text-color;
  text-align: center;
  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
    @include transition;
    @include transition(background-color);
  }
}

@media screen and (max-width: 767px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    & .filter-button.current {
      background-color: $accent-color;
      color: #ffffff;
    }

    &-item:not(:last-child) {
      margin-right: 8px;
    }

    &-item:nth-child(-n + 3) {
      padding-bottom: 15px;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 40px;

    & .filter-button.current {
      background-color: $accent-color;
      color: #ffffff;
    }

    &-item:not(:last-child) {
      margin-right: 8px;
    }

    &-item:nth-child(-n + 3) {
      padding-bottom: 15px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .filter {
    margin-bottom: 60px;
  }
}
// .filter {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;

//   font-weight: 500;
//   line-height: 1.62;
//   text-align: center;

//   & .filter-button.current {
//     background-color: $accent-color;
//     color: #ffffff;
//   }
// }

// .filter-item:not(:last-child) {
//   margin-right: 8px;
// }

// .filter-button {
//   border-radius: 4px;
//   border: none;
//   border-color: #f5f4fa;
//   padding: 6px 22px;

//   line-height: 1.62;
//   font-weight: 500;
//   font-size: 16px;
//   color: $main-text-color;
//   background-color: #f5f4fa;
//   text-align: center;
//   cursor: pointer;

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//     color: #ffffff;
//     @include transition;
//     @include transition(background-color);
//   }
// }
