.hero {
  text-align: center;
  height: 400px;
  margin-top: 0;

  @media screen and (min-width: $desktop-width) {
    height: 600px;
  }

  &__title {
    margin-bottom: 30px;

    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop-width) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    @extend %button;
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
  }
}

.overlay {
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/jpg_mobile.jpg);
  background-size: 480px 400px;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/jpg_mobile@2x.jpg);
  }

  @media screen and (min-width: $tablet-width) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/jpg_tablet.jpg);
    background-size: 768px 400px;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/jpg_tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/jpg_desktop.jpg);
    background-size: 1600px 600px;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/jpg_desktop@2x.jpg);
    }
  }
}
