.work {
  padding-bottom: 94px;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__container {
    position: relative;
  }

  &__description {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__image {
    display: block;
  }

  &__title {
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;

    padding: 27px 0;

    color: #ffffff;
  }
}
