.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    list-style: none;

    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;

    &__container:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    @include transition;

    &.current-link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      opacity: 1;

      @include transition(opacity);
    }

    &,
    &:visited {
      color: $main-text-color;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &.current-link {
      color: $accent-color;
    }
  }
}

.site-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-nav .logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}
