.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 30px;

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__address {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0;
    color: #afb1b8;

    &:hover,
    &:focus {
      color: $main-background-color;
      background-color: $accent-color;
      filter: drop-shadow(0px 4px 4px RGBA(0, 0, 0, 0.25));
      @include transition;
      @include transition(background-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
