.social-footer {
  padding-bottom: 60px;
}

.social-list {
  display: flex;
  padding: 0;
}

.social-title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    @include transition(background-color);
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .social-title {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: $desktop-width) {
  .social-footer {
    padding: 0;
  }
}
