body {
  font-family: $main-font-family;
  background-color: $main-background-color;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
