$main-background-color: #ffffff;
$secondary-background-color: #2f303a;
$additional-background-color: #f5f4fa;
$accent-color: #2196f3;
$main-text-color: #212121;
$secondary-text-color: #757575;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: "Roboto", sans-serif;
$sec-font-family: "Raleway", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;
